<div class="container">
  <div class="answer" style="background-color:white">
    <h2> - <%= @question %></h2>
    <h3> You <h3>
  </div>
  <div class="answer">
    <h2> - <%= @answer %></h2>
    <h3> Stupid Coach <h3>
  </div>
  <div class="link">
    <%= link_to "Ask another question", root_path %>
  </div>
</div>
