
<div class="container">
  <div class="form">
    <h2>Ask me a question!</h2>
    <form action="/answer " method="get">
      <input type="text" name="question" class="form-control" placeholder="Give me a silly question">
      <input type="submit" value="Submit!" class="btn btn-primary">
    </form>
  </div>
</div>
<!--
<h4>It is now <%= Time.now %></h4>
<p>Find me in app/views/questions/ask.html.erb</p>
 -->
